@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #0b1121;
}

* {
  box-sizing: border-box;
}

/* Custom leaflet marker styling */
.custom-div-icon {
  background: transparent;
  border: none;
}
